USE [master]
GO
/****** Object:  Database [TrabajadoresPrueba]    Script Date: 14/07/2025 17:03:56 ******/
CREATE DATABASE [TrabajadoresPrueba]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TrabajadoresPrueba', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\TrabajadoresPrueba.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TrabajadoresPrueba_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\TrabajadoresPrueba_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TrabajadoresPrueba].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TrabajadoresPrueba]
GO
/****** Object:  Table [dbo].[Departamento]    Script Date: 14/07/2025 17:03:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departamento](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NombreDepartamento] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Distrito]    Script Date: 14/07/2025 17:03:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Distrito](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdProvincia] [int] NULL,
	[NombreDistrito] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Provincia]    Script Date: 14/07/2025 17:03:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provincia](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdDepartamento] [int] NULL,
	[NombreProvincia] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Trabajadores]    Script Date: 14/07/2025 17:03:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trabajadores](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TipoDocumento] [varchar](3) NULL,
	[NumeroDocumento] [varchar](50) NULL,
	[Nombres] [varchar](500) NULL,
	[Sexo] [varchar](1) NULL,
	[IdDepartamento] [int] NULL,
	[IdProvincia] [int] NULL,
	[IdDistrito] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Departamento] ON 

INSERT [dbo].[Departamento] ([Id], [NombreDepartamento]) VALUES (1, N'Amazonas')
INSERT [dbo].[Departamento] ([Id], [NombreDepartamento]) VALUES (2, N'Áncash')
INSERT [dbo].[Departamento] ([Id], [NombreDepartamento]) VALUES (3, N'Apurímac')
SET IDENTITY_INSERT [dbo].[Departamento] OFF
GO
SET IDENTITY_INSERT [dbo].[Distrito] ON 

INSERT [dbo].[Distrito] ([Id], [IdProvincia], [NombreDistrito]) VALUES (1857, 1, N'Chachapoyas')
INSERT [dbo].[Distrito] ([Id], [IdProvincia], [NombreDistrito]) VALUES (1858, 1, N'Asunción')
INSERT [dbo].[Distrito] ([Id], [IdProvincia], [NombreDistrito]) VALUES (1859, 1, N'Balsas')
GO
SET IDENTITY_INSERT [dbo].[Distrito] OFF
GO
SET IDENTITY_INSERT [dbo].[Provincia] ON 

INSERT [dbo].[Provincia] ([Id], [IdDepartamento], [NombreProvincia]) VALUES (1, 1, N'Chachapoyas')
INSERT [dbo].[Provincia] ([Id], [IdDepartamento], [NombreProvincia]) VALUES (2, 1, N'Bagua')
INSERT [dbo].[Provincia] ([Id], [IdDepartamento], [NombreProvincia]) VALUES (3, 1, N'Bongará')
GO
SET IDENTITY_INSERT [dbo].[Provincia] OFF
GO
SET IDENTITY_INSERT [dbo].[Trabajadores] ON 

INSERT [dbo].[Trabajadores] ([Id], [TipoDocumento], [NumeroDocumento], [Nombres], [Sexo], [IdDepartamento], [IdProvincia], [IdDistrito]) VALUES (2, N'CE', N'003212323', N'Mariel Lopez Ramirez', N'F', 15, 128, 3132)
INSERT [dbo].[Trabajadores] ([Id], [TipoDocumento], [NumeroDocumento], [Nombres], [Sexo], [IdDepartamento], [IdProvincia], [IdDistrito]) VALUES (3, N'DNI', N'72748632', N'Jose Gabriel Belleza Calle', N'M', 15, 128, 3126)
INSERT [dbo].[Trabajadores] ([Id], [TipoDocumento], [NumeroDocumento], [Nombres], [Sexo], [IdDepartamento], [IdProvincia], [IdDistrito]) VALUES (4, N'DNI', N'72743333', N'Lucas Albarran Martinez', N'M', 4, 35, 2190)
SET IDENTITY_INSERT [dbo].[Trabajadores] OFF
GO
ALTER TABLE [dbo].[Distrito]  WITH CHECK ADD FOREIGN KEY([IdProvincia])
REFERENCES [dbo].[Provincia] ([Id])
GO
ALTER TABLE [dbo].[Provincia]  WITH CHECK ADD FOREIGN KEY([IdDepartamento])
REFERENCES [dbo].[Departamento] ([Id])
GO
ALTER TABLE [dbo].[Trabajadores]  WITH CHECK ADD FOREIGN KEY([IdDepartamento])
REFERENCES [dbo].[Departamento] ([Id])
GO
ALTER TABLE [dbo].[Trabajadores]  WITH CHECK ADD FOREIGN KEY([IdDistrito])
REFERENCES [dbo].[Distrito] ([Id])
GO
ALTER TABLE [dbo].[Trabajadores]  WITH CHECK ADD FOREIGN KEY([IdProvincia])
REFERENCES [dbo].[Provincia] ([Id])
GO
/****** Object:  StoredProcedure [dbo].[SP_ActualizarTrabajador]    Script Date: 14/07/2025 17:03:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Stored Procedure para Actualizar Trabajador
CREATE PROCEDURE [dbo].[SP_ActualizarTrabajador]
    @Id INT,
    @TipoDocumento VARCHAR(3),
    @NumeroDocumento VARCHAR(50),
    @Nombres VARCHAR(500),
    @Sexo VARCHAR(1),
    @IdDepartamento INT,
    @IdProvincia INT,
    @IdDistrito INT
AS
BEGIN
    SET NOCOUNT ON;
    
    UPDATE Trabajadores 
    SET TipoDocumento = @TipoDocumento,
        NumeroDocumento = @NumeroDocumento,
        Nombres = @Nombres,
        Sexo = @Sexo,
        IdDepartamento = @IdDepartamento,
        IdProvincia = @IdProvincia,
        IdDistrito = @IdDistrito
    WHERE Id = @Id;
    
    SELECT @@ROWCOUNT AS FilasAfectadas;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_EliminarTrabajador]    Script Date: 14/07/2025 17:03:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Stored Procedure para Eliminar Trabajador
CREATE PROCEDURE [dbo].[SP_EliminarTrabajador]
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;
    
    DELETE FROM Trabajadores WHERE Id = @Id;
    
    SELECT @@ROWCOUNT AS FilasAfectadas;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertarTrabajador]    Script Date: 14/07/2025 17:03:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Stored Procedure para Insertar Trabajador
CREATE PROCEDURE [dbo].[SP_InsertarTrabajador]
    @TipoDocumento VARCHAR(3),
    @NumeroDocumento VARCHAR(50),
    @Nombres VARCHAR(500),
    @Sexo VARCHAR(1),
    @IdDepartamento INT,
    @IdProvincia INT,
    @IdDistrito INT
AS
BEGIN
    SET NOCOUNT ON;
    
    INSERT INTO Trabajadores (TipoDocumento, NumeroDocumento, Nombres, Sexo, IdDepartamento, IdProvincia, IdDistrito)
    VALUES (@TipoDocumento, @NumeroDocumento, @Nombres, @Sexo, @IdDepartamento, @IdProvincia, @IdDistrito);
    
    SELECT SCOPE_IDENTITY() AS Id;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ListarTrabajadores]    Script Date: 14/07/2025 17:03:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Stored Procedure para Listar Trabajadores con Filtro
CREATE PROCEDURE [dbo].[SP_ListarTrabajadores]
    @Sexo VARCHAR(1) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        t.Id,
        t.TipoDocumento,
        t.NumeroDocumento,
        t.Nombres,
        t.Sexo,
        t.IdDepartamento,
        t.IdProvincia,
        t.IdDistrito,
        d.NombreDepartamento,
        p.NombreProvincia,
        dist.NombreDistrito
    FROM Trabajadores t
    LEFT JOIN Departamento d ON t.IdDepartamento = d.Id
    LEFT JOIN Provincia p ON t.IdProvincia = p.Id
    LEFT JOIN Distrito dist ON t.IdDistrito = dist.Id
    WHERE (@Sexo IS NULL OR t.Sexo = @Sexo)
    ORDER BY t.Nombres;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ObtenerTrabajadorPorId]    Script Date: 14/07/2025 17:03:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Stored Procedure para Obtener Trabajador por ID
CREATE PROCEDURE [dbo].[SP_ObtenerTrabajadorPorId]
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        t.Id,
        t.TipoDocumento,
        t.NumeroDocumento,
        t.Nombres,
        t.Sexo,
        t.IdDepartamento,
        t.IdProvincia,
        t.IdDistrito,
        d.NombreDepartamento,
        p.NombreProvincia,
        dist.NombreDistrito
    FROM Trabajadores t
    LEFT JOIN Departamento d ON t.IdDepartamento = d.Id
    LEFT JOIN Provincia p ON t.IdProvincia = p.Id
    LEFT JOIN Distrito dist ON t.IdDistrito = dist.Id
    WHERE t.Id = @Id;
END
GO
USE [master]
GO
